/* General reset */

@import "direktt-reset.scss"; 

/* Themes override */

@import "direktt-themes-reset.scss"; 

/* Popup */

@import "direktt-popup.scss"; 

/* Variables */

#direktt-profile {
	--direktt-profile-border-radius: 8px;
	--direktt-profile-accent-color: red;
	--direktt-profile-alternate-color: green;
	--direktt-profile-light-gray-color: #dddddd;
	--direktt-profile-dark-gray-color: #999999;
	--direktt-profile-dark-color: black;
	--direktt-profile-light-color: white;
	--direktt-profile-button-default-background-color: var(--direktt-profile-dark-gray-color);
	--direktt-profile-button-active-background-color: var(--direktt-profile-accent-color);
	--direktt-profile-light-color: white;	
	--direktt-profile-default-font-family: "Noto Sans", Helvetica, Arial, sans-serif;
	--direktt-profile-default-font-size-normal: 14px;
	--direktt-profile-default-font-size-small: 11px;
	--direktt-profile-default-line-height: 1.6;
	--direktt-profile-tools-width: 200px;
	--direktt-profile-tools-negative-width: -200px;
}

/* Functionalities and Styling */

#direktt-profile-wrapper {
	overflow:hidden;
}

#direktt-profile {
	position: relative;
	overflow: hidden;
	font-family: var(--direktt-profile-default-font-family);
	font-size: var(--direktt-profile-default-font-size-normal);
	line-height: var(--direktt-profile-default-line-height);
	padding-left: 0;
	padding-bottom: 7em;
	margin-right: 0;
	min-height: 99.9vh;
	#direktt-profile-data {
		opacity: 1;	
		transition: all 300ms, opacity 900ms;
		padding: 0 1em;
	}
	.direktt-profile-tools-open & {
		#direktt-profile-data, #direktt-profile-header {
			padding-left: calc(var(--direktt-profile-tools-width) + 1em);
			margin-right: calc(var(--direktt-profile-tools-negative-width) - 1em);			
		}
		#direktt-profile-data {
			opacity: 0.5;	
		}
		#direktt-profile-header #direktt-profile-tools-toggler:before {
			background-color: var(--direktt-profile-button-active-background-color)
		}
		
	}
	#direktt-profile-header  {
		position: relative;
		padding: 1em;
		border-bottom: 1px solid var(--direktt-profile-light-gray-color);
		margin-bottom: 1em;
		display: flex;
		align-items: center;
		gap: 1em;
		transition: all 300ms;
		#direktt-profile-tools-toggler {
			flex-basis: 2rem;
			&:before {
				cursor: pointer;
				content: "X";
				background-color: var(--direktt-profile-button-default-background-color);
				color: white;
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				text-align: center;
				pointer-events: all;
				display: block;
			}
			&:hover:before {
				background-color: var(--direktt-profile-accent-color);
			}	
		}	
	}
	#direktt-profile-tools  {
		border-right: 1px solid var(--direktt-profile-dark-gray-color);
		box-sizing: border-box;
		width: var(--direktt-profile-tools-width);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		margin-left: var(--direktt-profile-tools-negative-width);
		transition: all 300ms;
		ul {
			margin: 0;
			padding: 1em;
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			background-color: white;
			height: 100%;
			li {			
				margin: 0;
				padding: 0;
				display: block;
				text-align: center;
				a {
					pointer-events: all;
					padding: 10px;
					display: block;
					background-color: var(--direktt-profile-button-default-background-color);
					color: var(--direktt-profile-light-color);
					border-radius: var(--direktt-profile-border-radius);
				}
			}
		}
	}
	.direktt-profile-tools-open & {
		#direktt-profile-tools {
			margin-left: 0px;
		}
	}
	#direktt-profile-menu-bar {
		border-top: 1px solid var(--direktt-profile-light-gray-color);
		padding: 1em;
		margin-top: 1em;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: white;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			gap: 2em;
			font-size: var(--direktt-profile-default-font-size-small);
			li {
				margin: 0;
				padding: 0;
				display: block;
				a {
					&:before {
						content: " ";
						display: block;
						border-radius: 50%;
						background-color: var(--direktt-profile-button-default-background-color);
						width: 2rem;
						height: 2rem;
						margin: auto;
					}
				}
			}
		}
	}
	&[data-subpage="profile-tab-"] #direktt-profile-menu-bar ul li[data-subpage="direktt-menu-profile"] a:before,
	&[data-subpage="profile-tab-send-user-message"] #direktt-profile-menu-bar ul li[data-subpage="direktt-menu-send-user-message"] a:before,
	&[data-subpage="profile-tab-edit-user-taxonomies"] #direktt-profile-menu-bar ul li[data-subpage="direktt-menu-edit-user-taxonomies"] a:before {
		background-color: var(--direktt-profile-button-active-background-color);
	}
	&:not([data-subpage="profile-tab-"]):not([data-subpage="profile-tab-send-user-message"]):not([data-subpage="profile-tab-edit-user-taxonomies"]) {
		#direktt-profile-header #direktt-profile-tools-toggler:before {
			background-color: var(--direktt-profile-button-active-background-color);
		}	
	} 
	/* General */
	
	.button {
		border: 1px solid var(--direktt-profile-light-gray-color);
		color: var(--direktt-profile-light-color);
		background-color: var(--direktt-profile-accent-color);
		padding: 1em 2em;;
		font-size: inherit;
		&.button-primary {
			background-color: green;
		}
	}
	span.pill {
		padding: 0.125em 1em;
		border-radius: var(--direktt-profile-border-radius);
		display: inline-block;
		background-color: var(--direktt-profile-light-gray-color);
		&.empty {
			background-color: transparent;	
			opacity: 0.3;
			padding: 0;
		}
		
	}
	
	/* Tabs */
	
	/* Profile tab */
	
	.direktt-profile-data-profile {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
		grid-template-areas:
			"photo basic-data"
			"photo meta-data";
		.direktt-profile-photo { 
			grid-area: photo;
			img {
				max-width: 100%;
			}
		} 
		.direktt-profile-basic-data { 
			grid-area: basic-data;
			display: grid;
			grid-template-columns: 1fr 1fr;	
			div:nth-child(2n+1) {
				opacity: 0.6;
			}
		}
		.direktt-profile-meta-data {  
			grid-area: meta-data;
			border-top: 1px solid var(--direktt-profile-light-gray-color);
			padding-top: 1em;
			display: flex;
			flex-direction: column;
			gap: 1em;		
			div div:nth-child(2n+1) {
				opacity: 0.6;
				margin-bottom: 0.25em;
			}
			.direktt-profile-meta-data-categories, 
			.direktt-profile-meta-data-tags { 
				div:nth-child(2) {
					display: flex;
					flex-wrap: wrap;
					gap: 0.5em;				
				}
			}
		}
	}
}