/* Variables */

#direktt-profile {
	--direktt-profile-border-radius: 8px;
	--direktt-profile-accent-color: red;
	--direktt-profile-alternate-color: green;
	--direktt-profile-light-gray-color: #dddddd;
	--direktt-profile-dark-color: black;
	--direktt-profile-light-color: white;
	--direktt-profile-default-font-family: "Noto Sans", Helvetica, Arial, sans-serif;
	--direktt-profile-default-font-size: 14px;
	--direktt-profile-default-line-height: 1.6;
}

/* Grid definition */

#direktt-profile {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-template-areas: 
		'tools header'
		'tools data'
		'tools footer';
	#direktt-profile-data { 
		grid-area: data;
	}
	#direktt-profile-tools  {
		grid-area: tools;
	}
	#direktt-profile-menu-bar {
		grid-area: footer;
	}
}

/* Functionalities and Styling */

#direktt-profile {
	font-family: var(--direktt-profile-default-font-family);
	font-size: var(--direktt-profile-default-font-size);
	line-height: var(--direktt-profile-default-line-height);
	#direktt-profile-tools  {
		position: relative;
		width: 0px;
		&.on {
			width: 200px;
		}
		#direktt-profile-tools-toggler:before {
			content: "X";
			background-color: red;
			color: white;
			width: 1em;
			height: 1em;
			position: absolute;
			top: 0;
			left: 0;
		}
		margin-top: 1em;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			li {			
				margin: 0;
				padding: 0;
				display: block;
				text-align: center;
				a {
					padding: 10px;
					display: block;
					background: var(--direktt-profile-alternate-color);
					color: var(--direktt-profile-light-color);
					border-radius: var(--direktt-profile-border-radius);
				}
			}
		}
	}
	#direktt-profile-menu-bar {
		border-top: 1px solid var(--direktt-profile-light-gray-color);
		padding-top: 1em;
		margin-top: 1em;
		border-bottom: 1px solid gray;
		padding-bottom: 1em;
		margin-bottom: 1em;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			gap: 2em;
			li {
				margin: 0;
				padding: 0;
				display: block;
			}
		}
	}
	/* General */
	.button {
		border: 1px solid var(--direktt-profile-light-gray-color);
		color: var(--direktt-profile-light-color);
		background-color: var(--direktt-profile-accent-color);
		padding: 20px;
		font-size: inherit;
		&.button-primary {
			background-color: green;
		}
	}
	span.pill {
		padding: 0.5em 1.5em;
		border-radius: var(--direktt-profile-border-radius);
		display: inline-block;
		background-color: var(--direktt-profile-accent-color);
		&.empty {
			background-color: transparent;	
			opacity: 0.3;
			padding: 0;
		}
		
	}
	
	/* Tabs */
	
	/* Profile tab */
	
	.direktt-profile-data-profile {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
		grid-template-areas:
			"photo basic-data"
			"photo meta-data";
		.direktt-profile-photo { 
			grid-area: photo;
			img {
				max-width: 100%;
			}
		} 
		.direktt-profile-basic-data { 
			grid-area: basic-data;
			display: grid;
			grid-template-columns: 1fr 1fr;	
			div:nth-child(2n+1) {
				opacity: 0.6;
			}
		}
		.direktt-profile-meta-data {  
			grid-area: meta-data;
			border-top: 1px solid var(--direktt-profile-light-gray-color);
			padding-top: 1em;
			display: flex;
			flex-direction: column;
			gap: 1em;		
			div div:nth-child(2n+1) {
				opacity: 0.6;
				margin-bottom: 0.25em;
			}
			.direktt-profile-meta-data-categories, 
			.direktt-profile-meta-data-tags { 
				div:nth-child(2) {
					display: flex;
					flex-wrap: wrap;
					gap: 0.5em;				
				}
			}
		}
	}
}