

/* Reset */

#direktt-profile {
	// Base reset
	all: unset;
	display: block;
	box-sizing: border-box;

	// Reset all children
	*, *::before, *::after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: inherit;
		vertical-align: baseline;
	}
	
	// Headings
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		font-size: 1.5em;
		line-height: 1.25;
		/* margin-top: 1em; */
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	
	h3 {
		font-size: 1.25em;
	}
	
	h4, h5, h6 {
		font-size: 1em;
		margin-bottom: 0.5em;
	}
	
	// Texts
	
	strong, b {
		font-weight: 600;
	}
	
	// Paragraphs
	p {
		margin-bottom: 1em;
	}

	// Lists
	ul,	ol {
		/* list-style: none; */
		margin: 0 0 1em 0;
		padding: 0 0 0 2em;;
	}

	// Anchors
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			outline: none;
		}
	}

	// Images
	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
		height: auto;
	}

	// Forms
	button, input, select, textarea {
		background: none;
		border: 1px solid var(--direktt-profile-light-gray-color);
		border-radius: 10px;
		padding: 1em 2em;
		font-family: inherit;
		font-size: inherit;
		/* font: inherit; */
		color: inherit;
		width: 100%;
		/*&:focus {
		  outline: 2px solid var(--direktt-profile-accent-color);
		  outline-offset: 2px;
		}*/
	}
	input[type="submit"], button, .button, .direktt-button {
		pointer-events: all;
		cursor: pointer;
		border-radius: 50px;
		width: 100%;
		font-weight: 600;
		padding: 1em 2em;
		font-size: inherit;
		display: block;
		border: none;
		background-color: var(--direktt-profile-button-default-background-color);
		color: var(--direktt-profile-light-color);
		line-height: 1;
		&:hover {
			text-decoration: none;
		}
		&:focus {
		  outline: none;
		}
	}
	input[type="text"] {
		padding: 0.5em 1em;
	}
	textarea {
		padding: 1em;
	}
	input[type="checkbox"] {
		-webkit-appearance: none; 
		appearance: none; 
		width: 1.5rem;
		height: 1.5rem;
		/* border: 2px solid #ccc; */
		border: none;
		box-shadow: 0 0 0 2px var(--direktt-profile-light-gray-color);
		border-radius: 50%;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		outline: none;
		position: relative;
		&:after {
			font-family: 'direktt-profile-icons' !important;
			content: ' ';
			display: block;
			color: transparent;
			font-weight: 600;
			font-size: 1rem;
			text-align: center;
			line-height: 1.5rem; 
			height: 1.5rem; 
			width: 1.5rem; 
			position: absolute;
			top: 1px;
		}
		&:checked {
			box-shadow: 0 0 0 2px var(--direktt-profile-alternate-color);
			&::after {
				color: var(--direktt-profile-alternate-color);
				content: '\eb7b';
			}
		}
    }
	label input[type="checkbox"] {
		margin-right: 2px;
	}
	form {
		margin-bottom: 1em;
	}

	// Tables
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}
 
/* Autocomplete */

body.direktt-app .ui-autocomplete {
	font: inherit;
	font-size: var(--direktt-profile-default-font-size-normal);
	font-family: var(--direktt-profile-default-font-family);
	font-weight: 400;
}