

/* Reset */

#direktt-profile {
	// Base reset
	all: unset;
	display: block;
	box-sizing: border-box;

	// Reset all children
	*, *::before, *::after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}
	
	// Headings
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		line-height: 1.25;
		margin-bottom: 0.5em;
	}
	
	// Paragraphs
	p {
		margin-bottom: 1em;
	}

	// Lists
	ul,	ol {
		/* list-style: none; */
		margin: 0 0 1em 0;
		padding: 0 0 0 2em;;
	}

	// Anchors
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			outline: none;
		}
	}

	// Images
	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
		height: auto;
	}

	// Forms
	button, input, select, textarea {
		background: none;
		border: 1px solid var(--direktt-profile-light-gray-color);
		border-radius: 50px;
		padding: 1em 2em;
		font: inherit;
		color: inherit;
		/*&:focus {
		  outline: 2px solid var(--direktt-profile-accent-color);
		  outline-offset: 2px;
		}*/
	}
	input[type="submit"], button {
		cursor: pointer;
		border: none;
		line-height: 1;
		width: 100%;
		background: var(--direktt-profile-accent-color);
		color: white;
		font-weight: 600;
		&:focus {
		  outline: none;
		}
	}
	input[type="checkbox"] {
      -webkit-appearance: none; 
      appearance: none; 
    }
	input[type="checkbox"] {
		width: 20px;
		height: 20px;
		border: 2px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
		cursor: pointer;
		&:checked {
			background-color: var(--direktt-profile-accent-color);
			border-color: var(--direktt-profile-alternate-color);
			&::after {
				content: '\2713'; /* Unicode checkmark */
				display: block;
				color: #fff;
				font-size: 14px;
				text-align: center;
				line-height: 18px; /* Adjust based on height */
			}
		}
    }
	form {
		margin-bottom: 1em;
	}

	// Tables
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}