/* Reset */

:root {
	touch-action: pan-x pan-y;
	height: 100%
}
html {
	touch-action: pan-x pan-y;
	height: 100%
}

#direktt-profile {
	// Base reset
	all: unset;
	display: block;
	box-sizing: border-box;

	// Reset all children
	/*
	*, *::before, *::after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: inherit;
		vertical-align: baseline;
	}
	*/	
	
	// Headings
	h1, h2, h3, h4, h5, h6 {
		font-family: var(--direktt-profile-headlines-font-family);
		font-weight: 600;
		font-size: 1.5em;
		line-height: 1.25;
		margin-bottom: 1em;
		margin-top: 1.5em;
		&:first-child {
			margin-top: 0;
		}
		&:has(+ table) {
		  margin-bottom: 0.5em; /* space between h and table */
		}
	}
	
	input[type="hidden"] + {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}	
	}
	
	h3 {
		font-size: 1.25em;
	}
	
	h4, h5, h6 {
		font-size: 1em;
	}
	
	// Texts
	
	strong, b {
		font-weight: 600;
	}
	
	// Paragraphs
	p {
		margin: 0;
	}

	// Lists
	ul,	ol {
		/* list-style: none; */
		margin: 0 0 1em 0;
		padding: 0 0 0 2em;;
	}

	// Anchors
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			outline: none;
		}
	}

	// Images
	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
		height: auto;
	}

	// Forms
	button:not([class^='ql-']), input, select, textarea {
		background: none;
		border: 1px solid var(--direktt-profile-light-gray-color);
		border-radius: var(--direktt-profile-border-small-radius);
		padding: 1em 1em;
		font-family: inherit;
		font-size: inherit;
		/* font: inherit; */
		color: inherit;
		width: 100%;
		box-sizing: border-box;
		/*&:focus {
		  outline: 2px solid var(--direktt-profile-accent-color);
		  outline-offset: 2px;
		}*/
		background: white;
	}
	input[type="text"] {
		padding: 1em 1em;
		background: white;
	}
	input[type="submit"], button:not([class^='ql-']), .button, .direktt-button {
		pointer-events: all;
		cursor: pointer;
		border-radius: 50px;
		/* width: 100%; */
		font-weight: 600;
		padding: 1em 2em;
		font-size: inherit;
		display: block;
		border: none;
		background-color: var(--direktt-profile-button-default-background-color);
		box-shadow: 0 0 0 2px var(--direktt-profile-button-default-background-color);
		color: var(--direktt-profile-light-color);
		line-height: 1;
		&:hover {
			text-decoration: none;
		}
		&:focus {
		  outline: none;
		}
	}
	textarea {
		padding: 1em;
		background: white;
	}
	input[type="checkbox"] {
		-webkit-appearance: none; 
		appearance: none; 
		width: 1rem;
		height: 1rem;
		/* border: 2px solid #ccc; */
		border: none;
		box-shadow: 0 0 0 2px var(--direktt-profile-light-gray-color);
		border-radius: 50%;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		outline: none;
		position: relative;
		&:after {
			font-family: 'direktt-profile-icons' !important;
			content: ' ';
			display: block;
			color: transparent;
			font-weight: 600;
			font-size: 1rem;
			text-align: center;
			line-height: 1rem; 
			height: 1rem; 
			width: 1rem; 
			position: absolute;
			top: 0px;
			left: -1px;
		}
		&:checked {
			box-shadow: 0 0 0 2px var(--direktt-profile-alternate-color);
			&::after {
				color: var(--direktt-profile-alternate-color);
				content: '\eb7b';
			}
		}
    }
	label input[type="checkbox"] {
		margin-right: 2px;
	}
	
	/* Tables */
	
	table {
		border-collapse: separate;
		border-spacing: 0 0.5rem;
		width: 100%; 
		thead {
			th {
				font-family: var(--direktt-profile-headlines-font-family);
				font-weight: 600; 
			}			
		}
		th, td {
			border-bottom: 1px solid var(--direktt-profile-light-gray-color);
			text-align: left;
			padding: 0.5rem;
			vertical-align: top;
			&:first-child {
				padding-left: 0; 
			}
			&:last-child {
				padding-right: 0;
			}
		}
		th {
			border-bottom: 1px solid var(--direktt-profile-dark-gray-color);
		}
		tbody tr {
			border-bottom: 1px solid var(--direktt-profile-light-gray-color);
		}
		&.direktt-table-last-column-align-right  {
			th:last-child,
			td:last-child {
				text-align: right;
			}
		}
	}
	p, form, table, input[type="submit"], button:not([class^='ql-']), .button, .direktt-button{ 
		&:not(:last-child){
			margin-bottom: 1em;
		}
		
	}
}

/* Imported */
 
/* Autocomplete */

body.direktt-app {
	.ui-autocomplete {
		font: inherit;
		font-size: var(--direktt-profile-default-font-size-normal);
		font-family: var(--direktt-profile-default-font-family);
		font-weight: 400;
	}	
	.ui-menu {
		.ui-menu-item-wrapper {
			padding: 1em;
		}	
	}
}