.direktt-profile {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	.direktt-profile-photo { 
		grid-area: 2 / 1 / 3 / 2;
		img {
			max-width: 100%;
		}
	}
	.direktt-profile-data { 
		grid-area: 2 / 2 / 3 / 3;
		.direktt-profile-basic-data {
			display: grid;
			grid-template-columns: 1fr 1fr;	
			div:nth-child(2n+1) {
				opacity: 0.6;
			}
		}
	}
	.direktt-profile-meta-data { 
		border-top: 1px solid gray;
		padding-top: 1em;
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		gap: 1em;		
		div div:nth-child(2n+1) {
			opacity: 0.6;
		}
		span.pill {
			padding: 0.5em 1.5em;
			border-radius: 10px;
			display: inline-block;
			background-color: #0f0;
			&.empty {
				background-color: transparent;	
				opacity: 0.3;
				padding: 0;
			}
			
		}
		.direktt-profile-meta-data-categories, 
		.direktt-profile-meta-data-tags { 
			div:nth-child(2) {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5em;				
			}
		}
	}
	.direktt-profile-tools {
		grid-area: 3 / 2 / 4 / 3;
		border-top: 1px solid gray;
		padding-top: 1em;
		margin-top: 1em;
		ul {
			margin: 0 1em;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
			}
		}
	}
	.direktt-profile-menu-bar {
		border-top: 1px solid gray;
		padding-top: 1em;
		margin-top: 1em;
		grid-area: 1 / 1 / 2 / 3;
		border-bottom: 1px solid gray;
		padding-bottom: 1em;
		margin-bottom: 1em;
		ul {
			display: flex;
			gap: 2em;
			li {
				display: block;
			}
		}
	}
}