/* Popup */

#direktt-profile .direktt-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 9998;
	margin-block: 0 !important;
	padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	.direktt-popup-content {
		background: white;
		padding: 1em;
		border-radius: 0.5em;
		z-index: 10000;
		display: flex;
		flex-direction: column;
		max-width: 360px;
		width: 100%;
		.direktt-popup-header h3 {
			border-bottom: 1px solid var(--direktt-profile-light-gray-color);
			margin-bottom: 1em;
			padding-bottom: 1em;
			font-size: 1.125em;
		}
	}
	.direktt-popup-actions {
		border-top: 1px solid #ccc;
		/* margin-top: 0.5em; */
		padding-top: 1em;
		button.direktt-popup-no {
			border-color: var(--direktt-profile-dark-gray-color);
			color: var(--direktt-profile-dark-gray-color);
		}
	}
}

/* Loader */
#direktt-profile .direktt-loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7); 
	display: none;
	z-index: 9999;
	 .direktt-loader-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 10000;
		.direktt-loader {
			border: 8px solid var(--direktt-profile-light-gray-color);
			border-top: 8px solid var(--direktt-profile-accent-color);
			border-radius: 50%;
			width: 50px;
			height: 50px;
			animation: direktt-loader-spin 2s linear infinite;
			display: inline-block;
		} 
		.direktt-loader-text {
			color: var(--direktt-profile-light-color);
		}
	}
}

@keyframes direktt-loader-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}