/* Popup */

#direktt-profile {
	.direktt-popup {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 9998;
		margin-block: 0 !important;
		/* padding: 1em; */
		/* flex-direction: column; */
		justify-content: center;
		align-items: center;
		display: none;
		&.direktt-popup-on {
			display: flex;
		}
		&[style*='display: block']{
			display: flex !important;
		}
		.direktt-popup-content {
			box-shadow: 0px 0px 1em var(--direktt-profile-dark-color);
			background: white;
			padding: 2em;
			border-radius: 1em;
			z-index: 10000;
			display: flex;
			flex-direction: column;
			flex: 0 1 20em;
			text-align: center;
			.direktt-popup-header h3 {
				margin-bottom: 0.5em;
				font-size: 1.375em;
			}
		}
		.direktt-popup-actions {
			margin-top: 1em;
			button.direktt-popup-no {
				color: var(--direktt-profile-dark-gray-color);
				box-shadow: 0 0 0 2px var(--direktt-profile-dark-gray-color);
				background: none;
			}
		}
	}	
}	

/* Notices */

#direktt-profile {
	.notice  {
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: var(--direktt-profile-warning-color);
			opacity: 0.2;
		}
		text-align: center;
		font-weight: 600;
		border-radius: 50px;
		margin: 1em 0;
		padding: 1em;	
		/* border: 2px solid var(--direktt-profile-accent-color); */
		color: var(--direktt-profile-warning-color);
		&.notice-error {
			border-color: var(--direktt-profile-warning-color);
			/* color: var(--direktt-profile-warning-color); */
		}
		p {
			margin: 0;
		}
	}	
}	

/* Loader */

#direktt-profile {
	.direktt-loader-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7); 
		display: none;
		z-index: 9999;
		 .direktt-loader-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			z-index: 10000;
			.direktt-loader {
				border: 8px solid var(--direktt-profile-light-gray-color);
				border-top: 8px solid var(--direktt-profile-accent-color);
				border-radius: 50%;
				width: 50px;
				height: 50px;
				animation: direktt-loader-spin 2s linear infinite;
				display: inline-block;
			} 
			.direktt-loader-text {
				color: var(--direktt-profile-light-color);
			}
		}
	}	
}

@keyframes direktt-loader-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}