/* General */

@import "direktt-reset.scss"; 
@import url( 'https://fonts.googleapis.com/css?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap' );

@font-face {
    font-family: "direktt-profile-icons";
    src: url('fonts/direktt-profile-icons.eot?t=1758201785209'); /* IE9*/
    src: url('fonts/direktt-profile-icons.eot?t=1758201785209#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("fonts/direktt-profile-icons.woff2?t=1758201785209") format("woff2"),
    url("fonts/direktt-profile-icons.woff?t=1758201785209") format("woff"),
    url('fonts/direktt-profile-icons.ttf?t=1758201785209') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('fonts/direktt-profile-icons.svg?t=1758201785209#direktt-profile-icons') format('svg'); /* iOS 4.1- */
    font-display: swap;
}

[class^="dpi-"]:before, [class*="dpi-"]:before {
    font-family: 'direktt-profile-icons' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#direktt-profile { 
	.dpi-menu:before { content: "\ef3e" !important; }
	.dpi-close:before { content: "\f4c8" !important; }
	.dpi-check:before { content: "\eb7b" !important; }
	.dpi-arrow-left:before { content: "\ea60" !important; }
	.dpi-send-user-message:before { content: "\eb4d" !important; padding-top: 0.05em !important; }
	.dpi-profile:before { content: "\f264" !important; }
	.dpi-information:before { content: "\ee59" !important; }
	.dpi-edit-user-taxonomies:before { content: "\f025" !important; }
}



/* Themes override */

@import "direktt-themes-reset.scss"; 

/* Popup */    

@import "direktt-popup.scss";   

/* Variables */   

#direktt-profile { 
	--direktt-profile-border-radius: 50px; 
	--direktt-profile-accent-color: #5DB075;
	--direktt-profile-alternate-color: #387248;
	--direktt-profile-warning-color: #d91515;
	--direktt-profile-light-gray-color: #dddddd;
	--direktt-profile-dark-gray-color: #999999; 
	--direktt-profile-dark-color: black;
	--direktt-profile-light-color: white;
	--direktt-profile-button-default-background-color: var(--direktt-profile-accent-color);
	--direktt-profile-button-active-background-color: var(--direktt-profile-alternate-color);
	--direktt-profile-light-color: white;	
	--direktt-profile-default-font-family: "Noto Sans", Helvetica, Arial, sans-serif;
	--direktt-profile-default-font-size-normal: 14px;
	--direktt-profile-default-font-size-small: 12px;
	--direktt-profile-default-font-size-xsmall: 11px;
	--direktt-profile-default-line-height: 1.6;
	--direktt-profile-tools-width: 200px;
	--direktt-profile-tools-negative-width: -200px;  
}

/* Functionalities and Styling */

#direktt-profile-wrapper {
	overflow: hidden;
	font-weight: 400;
}

#direktt-profile { 
 
	/* General */
	
	.button {
		border: 1px solid var(--direktt-profile-light-gray-color);
		color: var(--direktt-profile-light-color);
		background-color: var(--direktt-profile-accent-color);
		padding: 1em 2em;
		font-size: inherit;
		&.button-primary {
			background-color: var(--direktt-profile-alternate-color);
		}
	}
	
	
	position: relative; 
	overflow: hidden;
	font-family: var(--direktt-profile-default-font-family);
	font-size: var(--direktt-profile-default-font-size-normal);
	line-height: var(--direktt-profile-default-line-height);
	padding-left: 0;
	padding-bottom: 7em;
	margin-right: 0;
	min-height: 99.9vh;
	#direktt-profile-data {  
		opacity: 1;	
		transition: all 300ms, opacity 900ms;
		padding: 0 1em;
	}
	.direktt-profile-tools-open & {
		#direktt-profile-data, #direktt-profile-header {
			margin-left: var(--direktt-profile-tools-width);
			margin-right: var(--direktt-profile-tools-negative-width);			
		}
		#direktt-profile-data {
			opacity: 0.25;	
		}
		#direktt-profile-header #direktt-profile-tools-toggler:before {
			/* background-color: var(--direktt-profile-button-active-background-color); */
			content: "\f4c8" !important;
		}
		
	}
	#direktt-profile-header  {
		position: relative;
		padding: 1em;
		text-align: center;
		transition: all 300ms;
		background-color: var(--direktt-profile-accent-color);
		display: flex;
		gap: 1em;
		align-items: center;
		#direktt-profile-tools-toggler {
			&:before {
				cursor: pointer;
				content: " "; 
				/* background-color: var(--direktt-profile-alternate-color); */
				color: var(--direktt-profile-light-color);
				flex-basis: 2rem;
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				font-size: 1.25rem;
				text-align: center;
				pointer-events: all;
				display: block;
				border-radius: 50%;
			}
			&:hover:before {
				background-color: var(--direktt-profile-accent-color);
			}	
		}
		.direktt-profile-header-data {
			font-weight: 600;
			color: var(--direktt-profile-light-color);
		}	
	}
	#direktt-profile-tools  {
		border-right: 1px solid var(--direktt-profile-dark-gray-color);
		box-sizing: border-box;
		width: var(--direktt-profile-tools-width);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		margin-left: var(--direktt-profile-tools-negative-width);
		transition: all 300ms;
		box-shadow: 0 0 0 var(--direktt-profile-dark-gray-color);
		ul {
			margin: 0;
			padding: 1em;
			display: flex;
			flex-direction: column;
			gap: 0.5em; 
			background-color: white;
			height: 100%;
			li {			
				margin: 0;
				padding: 0;
				display: block;
				text-align: center;
				a {   
					pointer-events: all;
					padding: 10px;
					display: block;
					background-color: var(--direktt-profile-button-default-background-color);
					color: var(--direktt-profile-light-color);
					border-radius: var(--direktt-profile-border-radius); 
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	.direktt-profile-tools-open & {
		#direktt-profile-tools {
			margin-left: 0px;
			box-shadow: -5px 0 10px var(--direktt-profile-dark-color);
		}
	}
	#direktt-profile-menu-bar {
		border-top: 1px solid var(--direktt-profile-light-gray-color);
		padding: 1em;
		margin-top: 1em;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: white;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
			gap: 2em;
			font-size: var(--direktt-profile-default-font-size-xsmall);
			li {
				margin: 0; 
				padding: 0;
				display: block;
				flex-basis: 100%;
				text-align: center;
				a {
					color: var(--direktt-profile-dark-gray-color);
					text-align: center;
					&:hover {
						text-decoration: none;
					}
					&:before {
						text-align: center;
						content: " ";
						display: block;
						border-radius: 50%;
						background-color: var(--direktt-profile-button-default-background-color);
						color: white;
						width: 2.5rem;
						height: 2.5rem;
						line-height: 2.5rem;
						margin: 0 auto 0.25em;
						font-size: 1.75em;
					}
				}
			}
		}
	}
	&[data-subpage="profile-tab-"] #direktt-profile-menu-bar ul li[data-subpage="direktt-menu-profile"] a:before,
	&[data-subpage="profile-tab-send-user-message"] #direktt-profile-menu-bar ul li[data-subpage="direktt-menu-send-user-message"] a:before,
	&[data-subpage="profile-tab-edit-user-taxonomies"] #direktt-profile-menu-bar ul li[data-subpage="direktt-menu-edit-user-taxonomies"] a:before {
		background-color: var(--direktt-profile-button-active-background-color);
	}
	&:not([data-subpage="profile-tab-"]):not([data-subpage="profile-tab-send-user-message"]):not([data-subpage="profile-tab-edit-user-taxonomies"]) {
		#direktt-profile-header #direktt-profile-tools-toggler:before {
			background-color: var(--direktt-profile-button-active-background-color);
			content: "\ea60" !important; 
		}	
	}
	span.pill {
		padding: 0.5em 1em;
		border-radius: var(--direktt-profile-border-radius);
		display: inline-block;
		background-color: var(--direktt-profile-light-gray-color);
		/* font-size: var(--direktt-profile-default-font-size-small); */
		&.empty {
			background-color: transparent;	
			opacity: 0.3;
			padding: 0;
		}
		
	}
	
	/* Tabs */
	
	/* Profile tab */
	
	.direktt-profile-data-profile {
		.direktt-profile-photo { 
			position: relative;
			padding-top: 1em;
			margin: 0 -1em;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 3em;
				width: 100%;
				z-index: -1;
				background-color: var(--direktt-profile-accent-color);	
			} 
			
			img {
				max-width: 10em;
				aspect-ratio: 1 / 1;
				margin: auto;
				border-radius: 50%;
				overflow: hidden;
				object-fit: cover;
				border: 3px solid var(--direktt-profile-light-color);
			}
		} 
		.direktt-profile-basic-data { 
			margin-top: 1em;
			display: grid;
			grid-template-columns: 1fr 1fr;	
			grid-column-gap: 1em;
			div:nth-child(2n+1) {
				color: var(--direktt-profile-dark-gray-color);
				text-align: right
			}
		}
		.direktt-profile-meta-data {  
			grid-area: meta-data;
			border-top: 1px solid var(--direktt-profile-light-gray-color);
			margin-top: 1em;
			padding-top: 1em;
			display: flex;
			flex-direction: column;
			gap: 1em;	
			text-align: center;			
			div div:nth-child(2n+1) {
				opacity: 0.6;
				margin-bottom: 0.25em;
			}
			.direktt-profile-meta-data-categories, 
			.direktt-profile-meta-data-tags { 
				div:nth-child(2) {
					display: flex;
					flex-wrap: wrap;
					gap: 0.5em;
					justify-content: center;					
				}
			}
		}
	} 
	
	/* Send message tab */
	
	.send-message-tool-wrapper {
		padding: 1em 0;
		.send-message-tool-info {
			p.send-message-tool-status {
				text-align: center;
				font-weight: 600;
				border: 2px solid var(--direktt-profile-accent-color);
				border-radius: 50px;
				/* margin: 1em 0; */
				padding: 1em;
			}
		}
		.autoComplete_wrapper {
			width: 100%;
			margin-bottom: 1em;
			input#autoComplete {
				width: 100%;
			}	
			ul {
				padding-top: 1em;
				li {
					margin-bottom: 1em;
				}	
			}
		}	
	}
	
	.direktt-taxonomies-tool-wrapper {
		padding: 1em 0;
		text-align: center;
		.direktt-taxonomies-tool-categories,
		.direktt-taxonomies-tool-tags {
			p {
				display: flex;
				justify-content: center;
				gap: 1em;
				flex-wrap: wrap;
				label {
					display: flex;
					align-items: center;
					gap: 0.25rem;
					input {
						
					}
				}
			}
	
		}
		.direktt-taxonomies-tool-status {
			text-align: center;
			font-weight: 600;
			border: 2px solid var(--direktt-profile-accent-color);
			border-radius: 50px;
			margin: 1em 0;
			padding: 1em;			
		}
	}
	
	#direktt-profile-data.direktt-profile-data-cross-sell-tool {
		padding: 1em;
	}
	
	/* Loyalty */
	
	#direktt-profile-data.direktt-profile-data-loyalty-program-tool {
		padding: 1em;
		.direktt-loyalty-program-wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 1em;
			> h2, > p {
				flex-basis: fit-content;
				flex-grow: 1;
			}
			> form {
				flex-basis: 100%;
			}
			> p {
				text-align: right;
				> strong {
					border-radius: 50px;
					padding: 0 0.5em;
					background: var(--direktt-profile-accent-color);
					color: white;
					font-weight: 600;
					display: inline-block;
					text-align: center;
					min-width: 2rem;
					line-height: 2rem;
				}	
			}
		}
		.direktt-loyalty-program-rules {
			display: flex;
			gap: 1em;
			margin-bottom: 1em;	
			flex-wrap: wrap;
			button {
				padding: 1em;
				flex-basis: fit-content;
				flex-grow: 1;
				&.button-red {
					background-color: var(--direktt-profile-warning-color);
				}
			}		
		}
		#reset_points_btn {
			background-color: var(--direktt-profile-alternate-color);
		}
		.direktt-loyalty-program-transactions {
			ul {
				display: flex; 
				margin: 0;
				padding: 0;
				flex-direction: column;
				gap: 1em;
				li {
					display: block;
					margin: 0;
					border-top: 1px solid var(--direktt-profile-light-gray-color);
					padding-top: 1em;
					/*color: var(--direktt-profile-dark-gray-color);
					&:hover, &:focus {
						color: var(--direktt-profile-dark-color);
					}*/
				}	
			}	
		}
		.notice  {
			text-align: center;
			font-weight: 600;
			border: 2px solid var(--direktt-profile-accent-color);
			border-radius: 50px;
			margin: 1em 0;
			padding: 1em;	
			p {
				margin: 0;
			}
		}
	}
}