

/* Reset */

#direktt-profile {
	// Base reset
	all: unset;
	display: block;
	box-sizing: border-box;

	// Reset all children
	*, *::before, *::after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}
	
	// Headings
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		font-size: 1.25em;
		line-height: 1.25;
		margin-bottom: 0.5em;
	}
	
	// Paragraphs
	p {
		margin-bottom: 1em;
	}

	// Lists
	ul,	ol {
		/* list-style: none; */
		margin: 0 0 1em 0;
		padding: 0 0 0 2em;;
	}

	// Anchors
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			outline: none;
		}
	}

	// Images
	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
		height: auto;
	}

	// Forms
	button, input, select, textarea {
		background: none;
		border: 1px solid var(--direktt-profile-light-gray-color);
		border-radius: 50px;
		padding: 1em 2em;
		font: inherit;
		color: inherit;
		/*&:focus {
		  outline: 2px solid var(--direktt-profile-accent-color);
		  outline-offset: 2px;
		}*/
	}
	input[type="submit"], button {
		cursor: pointer;
		border: none;
		line-height: 1;
		width: 100%;
		background: var(--direktt-profile-accent-color);
		color: white;
		font-weight: 600;
		&:focus {
		  outline: none;
		}
	}
	input[type="checkbox"] {
      -webkit-appearance: none; 
      appearance: none; 
    }
	input[type="checkbox"] {
		width: 1.5rem;
		height: 1.5rem;
		border: 2px solid #ccc;
		border-radius: 50%;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		outline: none;
		position: relative;
		&:after {
			font-family: 'direktt-profile-icons' !important;
			content: ' ';
			display: block;
			color: transparent;
			font-weight: 600;
			font-size: 1rem;
			text-align: center;
			line-height: 1.5rem; 
			height: 1.5rem; 
			width: 1.5rem; 
			position: absolute;
			top: -2px;
			left: -2px;
		}
		&:checked {
			border-color: var(--direktt-profile-alternate-color);
			&::after {
				color: var(--direktt-profile-alternate-color);
				content: '\eb7b';
			}
		}
    }
	form {
		margin-bottom: 1em;
	}

	// Tables
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}