/* General */
/* Reset */
/* Reset */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
#direktt-profile {
  all: unset;
  display: block;
  box-sizing: border-box;
  /*
  *, *::before, *::after {
  	box-sizing: inherit;
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: inherit;
  	vertical-align: baseline;
  }
  */
  /* Tables */
}
#direktt-profile h1, #direktt-profile h2, #direktt-profile h3, #direktt-profile h4, #direktt-profile h5, #direktt-profile h6 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.25;
  margin-bottom: 1em;
  margin-top: 1.5em;
}
#direktt-profile h1:first-child, #direktt-profile h2:first-child, #direktt-profile h3:first-child, #direktt-profile h4:first-child, #direktt-profile h5:first-child, #direktt-profile h6:first-child {
  margin-top: 0;
}
#direktt-profile h1:has(+ table), #direktt-profile h2:has(+ table), #direktt-profile h3:has(+ table), #direktt-profile h4:has(+ table), #direktt-profile h5:has(+ table), #direktt-profile h6:has(+ table) {
  margin-bottom: 0.5em;
  /* space between h and table */
}
#direktt-profile input[type=hidden] + h1, #direktt-profile input[type=hidden] + h2, #direktt-profile input[type=hidden] + h3, #direktt-profile input[type=hidden] + h4, #direktt-profile input[type=hidden] + h5, #direktt-profile input[type=hidden] + h6 {
  margin-top: 0;
}
#direktt-profile h3 {
  font-size: 1.25em;
}
#direktt-profile h4, #direktt-profile h5, #direktt-profile h6 {
  font-size: 1em;
}
#direktt-profile strong, #direktt-profile b {
  font-weight: 600;
}
#direktt-profile p {
  margin: 0;
}
#direktt-profile ul, #direktt-profile ol {
  /* list-style: none; */
  margin: 0 0 1em 0;
  padding: 0 0 0 2em;
}
#direktt-profile a {
  color: inherit;
  text-decoration: none;
}
#direktt-profile a:hover {
  text-decoration: underline;
}
#direktt-profile a:focus {
  outline: none;
}
#direktt-profile img, #direktt-profile picture, #direktt-profile video, #direktt-profile canvas, #direktt-profile svg {
  display: block;
  max-width: 100%;
  height: auto;
}
#direktt-profile button:not([class^=ql-]), #direktt-profile input, #direktt-profile select, #direktt-profile textarea {
  background: none;
  border: 1px solid var(--direktt-profile-light-gray-color);
  border-radius: var(--direktt-profile-border-small-radius);
  padding: 1em 1em;
  font-family: inherit;
  font-size: inherit;
  /* font: inherit; */
  color: inherit;
  width: 100%;
  box-sizing: border-box;
  /*&:focus {
    outline: 2px solid var(--direktt-profile-accent-color);
    outline-offset: 2px;
  }*/
}
#direktt-profile input[type=text] {
  padding: 0.5em 1em;
}
#direktt-profile input[type=submit], #direktt-profile button:not([class^=ql-]), #direktt-profile .button, #direktt-profile .direktt-button {
  pointer-events: all;
  cursor: pointer;
  border-radius: 50px;
  /* width: 100%; */
  font-weight: 600;
  padding: 1em 2em;
  font-size: inherit;
  display: block;
  border: none;
  background-color: var(--direktt-profile-button-default-background-color);
  box-shadow: 0 0 0 2px var(--direktt-profile-button-default-background-color);
  color: var(--direktt-profile-light-color);
  line-height: 1;
}
#direktt-profile input[type=submit]:hover, #direktt-profile button:not([class^=ql-]):hover, #direktt-profile .button:hover, #direktt-profile .direktt-button:hover {
  text-decoration: none;
}
#direktt-profile input[type=submit]:focus, #direktt-profile button:not([class^=ql-]):focus, #direktt-profile .button:focus, #direktt-profile .direktt-button:focus {
  outline: none;
}
#direktt-profile textarea {
  padding: 1em;
}
#direktt-profile input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  /* border: 2px solid #ccc; */
  border: none;
  box-shadow: 0 0 0 2px var(--direktt-profile-light-gray-color);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
  position: relative;
}
#direktt-profile input[type=checkbox]:after {
  font-family: "direktt-profile-icons" !important;
  content: " ";
  display: block;
  color: transparent;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 1rem;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0px;
  left: -1px;
}
#direktt-profile input[type=checkbox]:checked {
  box-shadow: 0 0 0 2px var(--direktt-profile-alternate-color);
}
#direktt-profile input[type=checkbox]:checked::after {
  color: var(--direktt-profile-alternate-color);
  content: "";
}
#direktt-profile label input[type=checkbox] {
  margin-right: 2px;
}
#direktt-profile table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  width: 100%;
}
#direktt-profile table thead th {
  font-weight: 600;
}
#direktt-profile table th, #direktt-profile table td {
  border-bottom: 1px solid var(--direktt-profile-light-gray-color);
  text-align: left;
  padding: 0.5rem;
  vertical-align: top;
}
#direktt-profile table th:first-child, #direktt-profile table td:first-child {
  padding-left: 0;
}
#direktt-profile table th:last-child, #direktt-profile table td:last-child {
  padding-right: 0;
}
#direktt-profile table th {
  border-bottom: 1px solid var(--direktt-profile-dark-gray-color);
}
#direktt-profile table tbody tr {
  border-bottom: 1px solid var(--direktt-profile-light-gray-color);
}
#direktt-profile table.direktt-table-last-column-align-right th:last-child,
#direktt-profile table.direktt-table-last-column-align-right td:last-child {
  text-align: right;
}
#direktt-profile p:not(:last-child), #direktt-profile form:not(:last-child), #direktt-profile table:not(:last-child), #direktt-profile input[type=submit]:not(:last-child), #direktt-profile button:not([class^=ql-]):not(:last-child), #direktt-profile .button:not(:last-child), #direktt-profile .direktt-button:not(:last-child) {
  margin-bottom: 1em;
}

/* Imported */
/* Autocomplete */
body.direktt-app .ui-autocomplete {
  font: inherit;
  font-size: var(--direktt-profile-default-font-size-normal);
  font-family: var(--direktt-profile-default-font-family);
  font-weight: 400;
}
body.direktt-app .ui-menu .ui-menu-item-wrapper {
  padding: 1em;
}

/* Variables */
:root {
  /* Fonts */
  --direktt-profile-default-font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  --direktt-profile-default-font-size-normal: 14px;
  --direktt-profile-default-font-size-small: 12px;
  --direktt-profile-default-font-size-xsmall: 11px;
  --direktt-profile-default-line-height: 1.6;
  --direktt-profile-default-font-weight: 400;
  /* Colors */
  --direktt-profile-accent-color: #5DB075;
  --direktt-profile-alternate-color: #387248;
  --direktt-profile-warning-color: #d91515;
  --direktt-profile-light-gray-color: #dddddd;
  --direktt-profile-dark-gray-color: #999999;
  --direktt-profile-dark-color: black;
  --direktt-profile-light-color: white;
  --direktt-profile-button-default-background-color: var(--direktt-profile-accent-color);
  --direktt-profile-button-active-background-color: var(--direktt-profile-alternate-color);
  --direktt-profile-light-color: white;
  /* Various */
  --direktt-profile-border-radius: 50px;
  --direktt-profile-border-small-radius: 10px;
  --direktt-profile-tools-width: 200px;
  --direktt-profile-tools-negative-width: -200px;
}

/* Fonts */
/* Icons */
@font-face {
  font-family: "direktt-profile-icons";
  src: url("fonts/direktt-profile-icons.eot?t=1758201785209");
  /* IE9*/
  src: url("fonts/direktt-profile-icons.eot?t=1758201785209#iefix") format("embedded-opentype"), url("fonts/direktt-profile-icons.woff2?t=1758201785209") format("woff2"), url("fonts/direktt-profile-icons.woff?t=1758201785209") format("woff"), url("fonts/direktt-profile-icons.ttf?t=1758201785209") format("truetype"), url("fonts/direktt-profile-icons.svg?t=1758201785209#direktt-profile-icons") format("svg");
  /* iOS 4.1- */
  font-display: swap;
}
[class^=dpi-]:before, [class*=dpi-]:before {
  font-family: "direktt-profile-icons" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#direktt-profile .dpi-menu:before {
  content: "" !important;
}
#direktt-profile .dpi-close:before {
  content: "" !important;
}
#direktt-profile .dpi-check:before {
  content: "" !important;
}
#direktt-profile .dpi-arrow-left:before {
  content: "" !important;
}
#direktt-profile .dpi-send-user-message:before {
  content: "" !important;
  padding-top: 0.05em !important;
}
#direktt-profile .dpi-profile:before {
  content: "" !important;
}
#direktt-profile .dpi-information:before {
  content: "" !important;
}
#direktt-profile .dpi-edit-user-taxonomies:before {
  content: "" !important;
}
#direktt-profile .dpi-notes:before {
  content: "" !important;
}

/* Themes override */
/* Variables */
body.wp-theme-twentytwentyfive.direktt-app :where(.wp-site-blocks) > * {
  margin-block-start: 0;
  margin-block-end: 0;
}
body.wp-theme-twentytwentyfive.direktt-app .entry-content.has-global-padding {
  padding-right: 0;
  padding-left: 0;
}

/* Popups and notices */
/* Popup */
#direktt-profile .direktt-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  margin-block: 0 !important;
  /* padding: 1em; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  display: none;
}
#direktt-profile .direktt-popup.direktt-popup-on {
  display: flex;
}
#direktt-profile .direktt-popup .direktt-popup-content {
  box-shadow: 0px 0px 1em var(--direktt-profile-dark-color);
  background: white;
  padding: 2em;
  border-radius: 1em;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  flex: 0 1 20em;
  text-align: center;
}
#direktt-profile .direktt-popup .direktt-popup-content .direktt-popup-header h3 {
  margin-bottom: 0.5em;
  font-size: 1.375em;
}
#direktt-profile .direktt-popup .direktt-popup-actions {
  margin-top: 1em;
}
#direktt-profile .direktt-popup .direktt-popup-actions button.direktt-popup-no {
  color: var(--direktt-profile-dark-gray-color);
  box-shadow: 0 0 0 2px var(--direktt-profile-dark-gray-color);
  background: none;
}

/* Notices */
#direktt-profile .notice {
  text-align: center;
  font-weight: 600;
  border-radius: 50px;
  margin: 1em 0;
  padding: 1em;
  border: 2px solid var(--direktt-profile-accent-color);
  /* color: var(--direktt-profile-accent-color); */
}
#direktt-profile .notice.notice-error {
  border-color: var(--direktt-profile-warning-color);
  /* color: var(--direktt-profile-warning-color); */
}
#direktt-profile .notice p {
  margin: 0;
}

/* Loader */
#direktt-profile .direktt-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 9999;
}
#direktt-profile .direktt-loader-overlay .direktt-loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10000;
}
#direktt-profile .direktt-loader-overlay .direktt-loader-container .direktt-loader {
  border: 8px solid var(--direktt-profile-light-gray-color);
  border-top: 8px solid var(--direktt-profile-accent-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: direktt-loader-spin 2s linear infinite;
  display: inline-block;
}
#direktt-profile .direktt-loader-overlay .direktt-loader-container .direktt-loader-text {
  color: var(--direktt-profile-light-color);
}

@keyframes direktt-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Functionalities and Styling */
#direktt-profile-wrapper {
  overflow: hidden;
  max-width: 100%;
}

#direktt-profile {
  /* Buttons */
  /* Autocomplete */
  /* End general */
  position: relative;
  overflow: hidden;
  font-family: var(--direktt-profile-default-font-family);
  font-size: var(--direktt-profile-default-font-size-normal);
  font-weight: var(--direktt-profile-default-font-weight);
  line-height: var(--direktt-profile-default-line-height);
  padding-left: 0;
  padding-bottom: 7em;
  margin-right: 0;
  min-height: 99.9vh;
  /* Tabs */
  /* Profile tab */
  /* Send message tab */
  /* Edit taxonomies */
  /* Notes */
  /* Cross sell */
  /* Loyalty */
  /* Reviews */
  /* Service status */
  /* Tools */
  /* Taxonomy tool */
  /* Loyalty program */
  /* Auto greet */
  /* Cross sell */
}
#direktt-profile button:not([class^=ql-]).button-large, #direktt-profile .button.button-large, #direktt-profile .direktt-button.button-large {
  padding: 1.5em 2em;
}
#direktt-profile button:not([class^=ql-]).button-primary, #direktt-profile .button.button-primary, #direktt-profile .direktt-button.button-primary {
  background-color: var(--direktt-profile-alternate-color);
  box-shadow: 0 0 0 2px var(--direktt-profile-alternate-color);
}
#direktt-profile button:not([class^=ql-]).button-red, #direktt-profile .button.button-red, #direktt-profile .direktt-button.button-red {
  background-color: var(--direktt-profile-warning-color);
  box-shadow: 0 0 0 2px var(--direktt-profile-warning-color);
}
#direktt-profile button:not([class^=ql-]).button-dark-gray, #direktt-profile .button.button-dark-gray, #direktt-profile .direktt-button.button-dark-gray {
  background-color: var(--direktt-profile-dark-gray-color);
  box-shadow: 0 0 0 2px var(--direktt-profile-dark-gray-color);
}
#direktt-profile button:not([class^=ql-]).button-invert, #direktt-profile .button.button-invert, #direktt-profile .direktt-button.button-invert {
  background-color: white;
  box-shadow: 0 0 0 2px var(--direktt-profile-button-default-background-color);
  color: var(--direktt-profile-button-default-background-color);
}
#direktt-profile button:not([class^=ql-]).button-invert.button-primary, #direktt-profile .button.button-invert.button-primary, #direktt-profile .direktt-button.button-invert.button-primary {
  box-shadow: 0 0 0 2px var(--direktt-profile-alternate-color);
  color: var(--direktt-profile-alternate-color);
}
#direktt-profile button:not([class^=ql-]).button-invert.button-red, #direktt-profile .button.button-invert.button-red, #direktt-profile .direktt-button.button-invert.button-red {
  box-shadow: 0 0 0 2px var(--direktt-profile-warning-color);
  color: var(--direktt-profile-warning-color);
}
#direktt-profile button:not([class^=ql-]).button-invert.button-dark-gray, #direktt-profile .button.button-invert.button-dark-gray, #direktt-profile .direktt-button.button-invert.button-dark-gray {
  box-shadow: 0 0 0 2px var(--direktt-profile-dark-gray-color);
  color: var(--direktt-profile-dark-gray-color);
}
#direktt-profile button:not([class^=ql-]).button-clean, #direktt-profile .button.button-clean, #direktt-profile .direktt-button.button-clean {
  padding: 0.5em 0em;
  background-color: transparent;
  box-shadow: none;
  color: var(--direktt-profile-button-default-background-color);
}
#direktt-profile button:not([class^=ql-]).button-clean.button-primary, #direktt-profile .button.button-clean.button-primary, #direktt-profile .direktt-button.button-clean.button-primary {
  color: var(--direktt-profile-alternate-color);
}
#direktt-profile button:not([class^=ql-]).button-clean.button-red, #direktt-profile .button.button-clean.button-red, #direktt-profile .direktt-button.button-clean.button-red {
  color: var(--direktt-profile-warning-color);
}
#direktt-profile button:not([class^=ql-]).button-clean.button-dark-gray, #direktt-profile .button.button-clean.button-dark-gray, #direktt-profile .direktt-button.button-clean.button-dark-gray {
  color: var(--direktt-profile-dark-gray-color);
}
#direktt-profile .autoComplete_wrapper {
  width: 100%;
  margin-bottom: 1em;
}
#direktt-profile .autoComplete_wrapper input#autoComplete {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5em 1em;
}
#direktt-profile .autoComplete_wrapper ul {
  padding: 0;
  margin: 0;
}
#direktt-profile .autoComplete_wrapper ul li {
  font-size: inherit;
  padding: 0.5em;
  margin: 0;
}
#direktt-profile:has(.direktt-service) {
  padding-bottom: 1em;
}
#direktt-profile #direktt-profile-data {
  opacity: 1;
  transition: all 300ms, opacity 900ms;
  padding: 1em;
}
.direktt-profile-tools-open #direktt-profile #direktt-profile-data, .direktt-profile-tools-open #direktt-profile #direktt-profile-header {
  margin-left: var(--direktt-profile-tools-width);
  margin-right: var(--direktt-profile-tools-negative-width);
}
.direktt-profile-tools-open #direktt-profile #direktt-profile-data {
  opacity: 0.25;
}
.direktt-profile-tools-open #direktt-profile #direktt-profile-header #direktt-profile-tools-toggler:before {
  /* background-color: var(--direktt-profile-button-active-background-color); */
  content: "" !important;
}
#direktt-profile #direktt-profile-header {
  position: relative;
  padding: 1em;
  text-align: center;
  transition: all 300ms;
  background-color: var(--direktt-profile-accent-color);
  display: flex;
  gap: 1em;
  align-items: center;
}
#direktt-profile #direktt-profile-header #direktt-profile-tools-toggler:before {
  cursor: pointer;
  content: " ";
  /* background-color: var(--direktt-profile-alternate-color); */
  color: var(--direktt-profile-light-color);
  flex-basis: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
  pointer-events: all;
  display: block;
  border-radius: 50%;
}
#direktt-profile #direktt-profile-header #direktt-profile-tools-toggler:hover:before {
  background-color: var(--direktt-profile-accent-color);
}
#direktt-profile #direktt-profile-header .direktt-profile-header-data {
  font-weight: 600;
  color: var(--direktt-profile-light-color);
}
#direktt-profile #direktt-profile-tools {
  border-right: 1px solid var(--direktt-profile-dark-gray-color);
  box-sizing: border-box;
  width: var(--direktt-profile-tools-width);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  margin-left: var(--direktt-profile-tools-negative-width);
  transition: all 300ms;
  box-shadow: 0 0 0 var(--direktt-profile-dark-gray-color);
}
#direktt-profile #direktt-profile-tools ul {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: white;
  height: 100%;
}
#direktt-profile #direktt-profile-tools ul li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
.direktt-profile-tools-open #direktt-profile #direktt-profile-tools {
  margin-left: 0px;
  box-shadow: -5px 0 10px var(--direktt-profile-dark-color);
}
#direktt-profile #direktt-profile-menu-bar {
  border-top: 1px solid var(--direktt-profile-light-gray-color);
  padding: 1em;
  margin-top: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}
#direktt-profile #direktt-profile-menu-bar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  font-size: var(--direktt-profile-default-font-size-xsmall);
}
#direktt-profile #direktt-profile-menu-bar ul li {
  margin: 0;
  padding: 0;
  display: block;
  flex-basis: 100%;
  text-align: center;
}
#direktt-profile #direktt-profile-menu-bar ul li a {
  color: var(--direktt-profile-dark-gray-color);
  text-align: center;
}
#direktt-profile #direktt-profile-menu-bar ul li a:hover {
  text-decoration: none;
}
#direktt-profile #direktt-profile-menu-bar ul li a:before {
  text-align: center;
  content: " ";
  display: block;
  border-radius: 50%;
  background-color: var(--direktt-profile-button-default-background-color);
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0 auto 0.25em;
  font-size: 1.75em;
}
#direktt-profile[data-subpage=profile-tab-] #direktt-profile-menu-bar ul li[data-subpage=direktt-menu-profile] a:before, #direktt-profile[data-subpage=profile-tab-send-user-message] #direktt-profile-menu-bar ul li[data-subpage=direktt-menu-send-user-message] a:before, #direktt-profile[data-subpage=profile-tab-edit-user-taxonomies] #direktt-profile-menu-bar ul li[data-subpage=direktt-menu-edit-user-taxonomies] a:before {
  background-color: var(--direktt-profile-button-active-background-color);
}
#direktt-profile:not([data-subpage=profile-tab-]):not([data-subpage=profile-tab-send-user-message]):not([data-subpage=profile-tab-edit-user-taxonomies]) #direktt-profile-header #direktt-profile-tools-toggler:before {
  background-color: var(--direktt-profile-button-active-background-color);
  content: "" !important;
}
#direktt-profile span.pill {
  padding: 0.5em 1em;
  border-radius: var(--direktt-profile-border-radius);
  display: inline-block;
  background-color: var(--direktt-profile-light-gray-color);
  /* font-size: var(--direktt-profile-default-font-size-small); */
}
#direktt-profile span.pill.empty {
  background-color: transparent;
  opacity: 0.3;
  padding: 0;
}
#direktt-profile .direktt-profile-data-profile .direktt-profile-photo {
  position: relative;
  padding-top: 1em;
  margin: -1em -1em 0;
}
#direktt-profile .direktt-profile-data-profile .direktt-profile-photo:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 3em;
  width: 100%;
  z-index: -1;
  background-color: var(--direktt-profile-accent-color);
}
#direktt-profile .direktt-profile-data-profile .direktt-profile-photo img {
  max-width: 10em;
  aspect-ratio: 1/1;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: 3px solid var(--direktt-profile-light-color);
}
#direktt-profile .direktt-profile-data-profile .direktt-profile-basic-data {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}
#direktt-profile .direktt-profile-data-profile .direktt-profile-basic-data div:nth-child(2n+1) {
  color: var(--direktt-profile-dark-gray-color);
  text-align: right;
}
#direktt-profile .direktt-profile-data-profile .direktt-profile-meta-data {
  grid-area: meta-data;
  border-top: 1px solid var(--direktt-profile-light-gray-color);
  margin-top: 1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}
#direktt-profile .direktt-profile-data-profile .direktt-profile-meta-data div div:nth-child(2n+1) {
  opacity: 0.6;
  margin-bottom: 0.25em;
}
#direktt-profile .direktt-profile-data-profile .direktt-profile-meta-data .direktt-profile-meta-data-categories div:nth-child(2),
#direktt-profile .direktt-profile-data-profile .direktt-profile-meta-data .direktt-profile-meta-data-tags div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}
#direktt-profile .direktt-taxonomies-tool-wrapper {
  /* padding: 1em 0; */
  text-align: center;
}
#direktt-profile .direktt-taxonomies-tool-wrapper .direktt-taxonomies-tool-categories p,
#direktt-profile .direktt-taxonomies-tool-wrapper .direktt-taxonomies-tool-tags p {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
#direktt-profile .direktt-taxonomies-tool-wrapper .direktt-taxonomies-tool-categories p label,
#direktt-profile .direktt-taxonomies-tool-wrapper .direktt-taxonomies-tool-tags p label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
#direktt-profile .direktt-taxonomies-tool-wrapper .direktt-taxonomies-tool-tags h3 {
  margin-top: 1.5em;
}
#direktt-profile .direktt-taxonomies-tool-wrapper .direktt-taxonomies-tool-status {
  text-align: center;
  font-weight: 600;
  border: 2px solid var(--direktt-profile-accent-color);
  border-radius: 50px;
  /* margin: 1em 0; */
  padding: 1em;
}
#direktt-profile .direktt-taxonomies-tool-wrapper .direktt-taxonomies-tool-submit {
  margin-top: 2em;
}
#direktt-profile #direktt-notes-view {
  position: relative;
}
#direktt-profile #direktt-notes-view #notesSave {
  position: absolute;
  right: 0.5em;
  top: 0.4em;
  /* top: auto; */
  left: auto;
  width: auto;
  z-index: 1;
}
#direktt-profile #direktt-notes-view .ql-toolbar {
  /* margin-bottom: 1em; */
  padding: 1em;
}
#direktt-profile #direktt-notes-view .ql-editor {
  height: auto;
  min-height: 50%;
}
#direktt-profile .direktt-profile-data-cross-sell-tool {
  padding: 1em !important;
}
#direktt-profile .direktt-profile-data-cross-sell-tool ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool ul li {
  margin: 0;
  padding: 0;
  display: block;
}
#direktt-profile .direktt-profile-data-cross-sell-tool ul li .direktt-cross-sell-title-area {
  margin-bottom: 1em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool ul li .direktt-cross-sell-title-area .direktt-cross-sell-title {
  font-weight: 600;
}
#direktt-profile .direktt-profile-data-cross-sell-tool ul li .direktt-cross-sell-title-area .direktt-cross-sell-data {
  text-align: right;
  min-width: 12em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool ul li .direktt-cross-sell-title-area .direktt-cross-sell-data > span {
  border-radius: 50%;
  padding: 0 0.5rem;
  box-shadow: 0 0 0 2px var(--direktt-profile-accent-color);
  color: var(--direktt-profile-accent-color);
  font-weight: 600;
  display: inline-block;
  text-align: center;
  min-width: 1rem;
  /* 2rem (height) - 2 x 0.5rem (padding) */
  line-height: 2rem;
  margin: 0 0.25em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool .direktt-cross-sell-issued-coupons-div {
  margin-top: 3em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool .button.direktt-cross-sell-back {
  text-align: center;
}
#direktt-profile .direktt-profile-data-cross-sell-tool table.direktt-profile-data-cross-sell-tool-single-coupon-table {
  margin-bottom: 2em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool table.direktt-profile-data-cross-sell-tool-single-coupon-table th {
  white-space: nowrap;
}
#direktt-profile .direktt-profile-data-cross-sell-tool table.direktt-cross-sell-issued-coupons-table tr:not(.direktt-cross-sell-actions) td {
  padding-bottom: 0;
  border-bottom: none;
}
#direktt-profile .direktt-profile-data-cross-sell-tool table.direktt-cross-sell-issued-coupons-table tr.direktt-cross-sell-actions td .button {
  text-align: center;
}
#direktt-profile .direktt-profile-data-cross-sell-tool table.direktt-cross-sell-issued-coupons-table tr.direktt-cross-sell-actions td form {
  margin-bottom: 0em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool table.direktt-cross-sell-issued-coupons-table tr td.direktt-cross-sell-name i {
  color: var(--direktt-profile-dark-gray-color);
}
#direktt-profile .direktt-profile-data-cross-sell-tool table.direktt-profile-data-cross-sell-tool-single-coupon-table h3 {
  margin-bottom: 0;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool {
  /* padding: 1em; */
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
  margin-bottom: 1em;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-wrap > h2, #direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-wrap > p {
  flex-basis: fit-content;
  flex-grow: 1;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-wrap > form {
  flex-basis: 100%;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-wrap > p {
  text-align: right;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-wrap > p > strong {
  border-radius: 50%;
  padding: 0 0.5rem;
  box-shadow: 0 0 0 2px var(--direktt-profile-accent-color);
  color: var(--direktt-profile-accent-color);
  font-weight: 600;
  display: inline-block;
  text-align: center;
  min-width: 1rem;
  /* 2rem (height) - 2 x 0.5rem (padding) */
  line-height: 2rem;
  margin: 0 0.25em;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-rules {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-rules button {
  padding: 1em;
  flex: 0 0 calc(25% - (3em / 4));
  margin-bottom: 0;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool #reset_points_btn {
  background-color: var(--direktt-profile-alternate-color);
  box-shadow: 0 0 0 2px var(--direktt-profile-alternate-color);
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-transactions {
  margin-top: 1em;
  width: 100%;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-transactions table th:last-child, #direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-transactions table td:last-child {
  text-align: right;
}
#direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-transactions table th:first-child, #direktt-profile .direktt-profile-data-loyalty-program-tool .direktt-loyalty-program-transactions table td:first-child {
  text-align: center;
}
#direktt-profile .direktt-profile-data-service-status-tool {
  padding: 1em;
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-search {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  align-items: stretch;
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-search #search_cases {
  margin-bottom: 0;
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list {
  border-top: 1px solid var(--direktt-profile-dark-gray-color);
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item {
  padding: 1em 0 1em 0;
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item:not(:last-child) {
  border-bottom: 1px solid var(--direktt-profile-light-gray-color);
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item h3 {
  margin-bottom: 0.5em;
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item .direktt-service-status-user,
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item .direktt-service-status-user-id,
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item .direktt-service-status-description,
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item .direktt-service-status-status {
  color: var(--direktt-profile-dark-gray-color);
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item .direktt-service-status-user strong,
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item .direktt-service-status-user-id strong,
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item .direktt-service-status-description strong,
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-cases-list .case-item .direktt-service-status-status strong {
  min-width: 7em;
  display: inline-block;
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-log td:first-child i {
  color: var(--direktt-profile-dark-gray-color);
}
#direktt-profile .direktt-profile-data-service-status-tool .direktt-service-status-case-form-wrapper form > div {
  margin-bottom: 1em;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper {
  min-height: auto;
  padding: 1em;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper .direktt-button {
  text-align: center;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper .direktt-edit-taxonomies-service-users form .direktt-edit-taxonomies-service-users-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper .direktt-edit-taxonomies-service-users form .direktt-edit-taxonomies-service-users-list .direktt-edit-taxonomies-service-user-item {
  border-top: 1px solid var(--direktt-profile-light-gray-color);
  padding-top: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper .direktt-edit-taxonomies-service-users form .direktt-edit-taxonomies-service-users-list .direktt-edit-taxonomies-service-user-item p {
  margin: 0;
  flex: 1 1 auto;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper .direktt-edit-taxonomies-service-users form .direktt-edit-taxonomies-service-users-list .direktt-edit-taxonomies-service-user-item .direktt-button {
  flex: 0 0 120px;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper .direktt-edit-taxonomies-service-users-search {
  display: flex;
  gap: 1em;
  align-items: stretch;
  /* border-top: 1px solid var(--direktt-profile-dark-gray-color); */
  /* border-bottom: 1px solid var(--direktt-profile-dark-gray-color); */
  padding: 1em 0;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper .direktt-edit-taxonomies-service-users-search input#direktt-user-search {
  flex: 1 1 auto;
}
#direktt-profile.direktt-edit-taxonomies-service-wrapper .direktt-edit-taxonomies-service-users-search .direktt-button {
  flex: 0 0 120px;
}
#direktt-profile .direktt-profile-data-auto-greet .direktt-button {
  margin-top: 1em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool.direktt-service .direktt-cross-sell-qr-canvas-wrapper {
  border: 1px solid var(--direktt-profile-light-gray-color);
  border-radius: 10px;
  padding: 2em;
  text-align: center;
  margin-bottom: 1em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool.direktt-service .direktt-cross-sell-qr-canvas-wrapper #direktt-cross-sell-qr-canvas svg {
  margin: auto;
}
#direktt-profile .direktt-profile-data-cross-sell-tool.direktt-service .direktt-cross-sell-qr-canvas-wrapper p.direktt-cross-sell-content {
  margin: 1em 0 0;
  color: var(--direktt-profile-dark-gray-color);
}
#direktt-profile .direktt-profile-data-cross-sell-tool.direktt-service table:not(.direktt-cross-sell-issued-coupon-table) {
  margin-bottom: 2em;
}
#direktt-profile .direktt-profile-data-cross-sell-tool.direktt-service table:not(.direktt-cross-sell-issued-coupon-table) th:last-child,
#direktt-profile .direktt-profile-data-cross-sell-tool.direktt-service table:not(.direktt-cross-sell-issued-coupon-table) td:last-child {
  text-align: center;
}
#direktt-profile .direktt-profile-data-cross-sell-tool.direktt-service #direktt-cross-sell-share {
  margin-bottom: 1em;
}

/*# sourceMappingURL=direktt-profile.css.map */
